body
{
    background-color: white;
}


.topnav a{
    float: right;
    color: #C4C4C4;
    font-family: Cairo;
    text-decoration: none;
    padding: 22px 40px;
    font-size: 28px;
   
}
.topnav{
     margin-right: 50px;
    margin-left: 50px;
}
.topnav a:hover {
  color: #14181A;
}
.topnav a.active {
  color: #14181A;
}
.topnav a.logo{
    float: left;
    font-weight: 200;
    color: #14181A;
}

.Heading{
    font-family: SF UI Display light;
    padding-top: 150px;
    font-size: 100px;
    padding-left: 85px;
    color: #14181A;
    line-height: 1.2;
}





















